.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    margin-top: 67px;
    height: 18px;
    left: 200px;
    opacity: 0px;
}

.footer__copyright{
    margin-left: 200px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    color: #545454;
    margin-bottom: 60px;
}