.gallery{
   display: flex;
   flex-direction: column;
   position: relative;
}

.gallery__image{
    width: 282px;
    height: 282px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.trash-icon {
  background-image: url(../images/Trash.png);
  width: 18px;
  height: 19.3px;
  top: 18px;
  right: 15px;
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.2s;
}

.gallery__names{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 15px 0;
    background-color: white;
    width: 282px;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;

}

.gallery__title{
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    text-align: left;
    color:black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 210px;
}

.gallery__title-button{
  border: none;
  height: 19px;
  background-image: url("../images/coraçao.png");
  background-repeat: no-repeat;

  width: 21px;
}

.gallery__title-like{
  border: none;
  display: none;
  height: 19px;
  padding-top: 25px;
  padding-bottom: 15px;
  margin-right: 15px;
  background-image: url("../images/Union.png");
  background-repeat: no-repeat;
}




@media screen and (max-width: 720px){
  .gallery{
    display: flex;
    flex-direction: column;
 }
}