.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 880px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.header__top{
    display: flex;
    height: 33px;
    color: white;
    margin-top: 45px;
    margin-left: 200px;
}

.header__logo{
    width: 173px;
    height: 33px;
    position:absolute;
    margin-left: 200px;
}

