.subheader{
    display: flex;
    max-width: 880px;
    padding-top: 40px;
    margin-left: 180px;
}

.subheader__first{
    width: 120px;
    color: #ffffff;
    margin-right: 30px;
    padding: 0;
}

.subheader__logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 120px;
    height: 120px;
    color: white;
    margin-bottom: 50px;
}

.subheader__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    margin-bottom: 50px;
}

.subheader__subtitle{
    width: 373px;
    margin-bottom: 16px;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 16px;
}

.subheader__button-edit{
    width: 24px;
    height: 24px;
    background: transparent url("../images/Edit\ Button.png") center no-repeat;
    margin-top: 15px;
    border: 1px solid rgba(255, 255, 255, 1);
}

.subheader__button-edit:hover{
  opacity: 60%;
  cursor: pointer;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.subheader__descriptionjac{
  font-size: 18px;
  font-weight: 400;
  margin: 16px 0 0;
}

.subheader__button{
  background: transparent url('../images/Add\ Button.png');
  display: flex;
  align-items: center;
  width: 150px;
  height: 50px;
  margin-top: 194px;
  border-radius: 2px 0px 0px 0px;
  color: #ffffff;
  margin-left: auto;
}

.subheader__button:hover{
  margin-top: 75px;
  border: 2px solid #FFFFFF;
}