.subheader{
    display: flex;
    justify-content: space-between;
    width: 880px;

}

.subheader__zero{
  display: flex;
  flex-direction: row;

}
.subheader__first{
    width: 120px;
    color: #ffffff;
    margin-right: 30px;
    padding: 0;
}

.subheader__logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 120px;
    height: 120px;
    color: white;
    margin-bottom: 50px;
}

.subheader__description{
    display: grid;
    grid-template-areas:
    "title button"
    "subtitle span";
    color: white;
    gap: 10px 18px;
    margin-top: 22px;
    max-height: 77px;
}

.subheader__subtitle{
    max-width: 373px;
    font-size: 42px;
    font-weight: 500;
    margin: 0;
}

.subheader__button-edit{
    width: 24px;
    height: 24px;
    background: transparent url("../images/Edit\ Button.png") center no-repeat;
    margin-top: 15px;
    border: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
  }

.subheader__button-edit:hover{
  opacity: 60%;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.subheader__descriptionjac{
  font-size: 18px;
  font-weight: 400;
  margin: 16px 0 0;
}

.subheader__button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  margin-top: 30px;
  border-radius: 2px;
  color: #ffffff;
  margin-left: 165px;
  border: 1px solid #FFFFFF;
}

.subheader__button:hover{
  opacity: 2px;
}

@media screen and (max-width: 720px){
  .subheader {
    width: 282px;
    display: flex;flex-direction: column;
    margin-top: 42px;
}

.subheader__logo{
  margin: 0 22px;
  display: flex;
  justify-content: center;
}

.subheader__description{
  margin-top: 30px;
  margin-inline: 19px;
  max-width: 282px;
}

.subheader__subtitle{
  font-size: 22px;
  text-align: center;
}

.subheader__button-edit{
  width: 18px;
  height: 18px;
  padding-left: 10px;
  margin-top: 4px
}

.subheader__descriptionjac{
font-size: 14px;
text-align: center;
margin-top: 14px;
}

.subheader__button{
  width: 100%;
  max-width: 282px;
  height: 50px;
  margin: 36px auto 0;
  cursor: pointer;
}
}

