.subheader{
    display: flex;
    justify-content: center;
    max-width: 880px;
    padding-top: 40px;
    margin-left: 180px;
}

.subheader__first{
    width: 120px;
    color: #ffffff;
    margin-right: 30px;
    padding: 0;
}

.subheader__logo{
    display: flex;
    width: 120px;
    height: 120px;
    color: white;
    margin-bottom: 50px;
}

.subheader__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    margin-bottom: 50px;
}

.subheader__description-name{

}

.subheader__subtitle{
    width: 373px;
    margin-bottom: 16px;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 16px;
}

.subheader__popup-overlay{
    display: none;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
}

.subheader__edit{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 196px;
    left: 741px;
    gap: 0px;
    order: 1px 0px 0px 0px;
    opacity: 0px;
    color: #ffffff;


}

.subheader__edit-image{
    width: 24px;
    height: 24px;
    top: 196px;
    left: 741px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    color: #FFFFFF;
}

/*verificar se o display absolute é aqui mesmo ou no popeverlay*/

.subheader__popup{
    width: 430px;
    height: 330px;
    top: 195px;
    left: 425px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 25px 0px #00000026;

}

.subheader__perfil{
    display: flex;
    flex-direction: column;
    margin-left: 36px;
    padding-top: 34px;
    width: 330px;
    height: 23px;
    top: 229px;
    gap: 0px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    text-align: left;
    color: #000000;
    margin-bottom: 54px;
}

.subheader__form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 430px;
    top: 195px;
    gap: 0px;
    opacity: 0px;
}

.subheader__name-input{
    width: 358px;
    height: 27.26px;
    top: 306px;
    left: 461px;
    opacity: 0px;
    color: #000000;
    border: 1px solid #000000;
    margin-bottom: 29.74px;

}

.subheader__title-input{
    width: 358px;
    height: 27.34px;
    top: 363px;
    left: 461px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    color: black;
    border: 1px solid #000000;
    margin-bottom: 48px;

}

.subheader__save-button{
    width: 358px;
    height: 50.15px;
    top: 438.34px;
    left: 461px;
    padding: 0;
    border-radius: 2px 0px 0px 0px;
    opacity: 0px;
    background-color: #000000;
    color: #FFFFFF;
    margin-bottom: 36.51px;
}

.subheader__descriptionjac{
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    margin-left: 150px;
    margin: 0;
}

.subheader__button{
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;
    top: 194px;
    left: 930px;
    border-radius: 2px 0px 0px 0px;
    opacity: 0px;
    color: #ffffff;
    margin-left: 165px;
}

.subheader__button-simbol{
    margin-top: 75px;
    border: 2px solid #FFFFFF;
}